.mcq-box {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    margin-bottom: 15px;
  }
  
  .mcq-question {
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .mcq-options {
    margin-top: -5px;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  .correct-answer {
    margin-bottom: 1px; 
  }
  
  .explanation {
    margin-top: 5px; 
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .correct-answer label {
    color: green; 
  }