/*
CSS styles for App.jsx
*/

.app {
  display: flex;
  justify-content: center;  
  align-items: center;    
  height: 100vh;
}

.main-section {
  flex: 1;
  padding: 20px;
}
.test, .empty-test {
  padding: 20px;
  background-color: #f0f0f0;    
  border-radius: 5px;
}

.sidebar {
  width: 300px;
  padding: 20px;
  margin-bottom: 40px;
}

.input-field {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-select-field{
  width: 97%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.generate-button {
  width: 98%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-test-button{
  width: 98%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.check-test-button{
  margin-top: 15px;
  width: 10%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #0056b3;
}

.title {
  margin-left: 35px;
}

.loading-spinner{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

